.cover__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.cover__link:hover {
  cursor: pointer;
  opacity: .8;
  background-color: #2A2C2F;
  -webkit-transition: .7s;
  -o-transition: .7s;
  transition: .7s;
}

@media (max-width: 320px) {
  .cover__link {
    padding: 0 25px 0;
  }
}
