.places {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 984px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .places {
    max-width: 928px;
  }
}

@media (max-width: 768px) {
  .places {
    max-width: 720px;
    min-height: 2808px;
    align-items: center;
  }
}

@media (max-width: 320px) {
  .places {
    max-width: 320px;
  }
}
