.cover__title {
  margin: 0 auto 32px;
  max-width: 560px;
  width: 100%;
  z-index: 2;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #FFFFFF;
}

/*.cover__title:hover {
  cursor: pointer;
  opacity: .3;
  background-color: #2A2C2F;
  -webkit-transition: .7s;
  -o-transition: .7s;
  transition: .7s;
}*/

@media (max-width: 505px) {
  .cover__title {
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
  }
}
